{% extends 'todo_app/base.html' %}


{% block title %}
    Todo Page
{% endblock title %}
    


{% block content %}
    <H1>Todo Detials</H1>
    <h3>Title</h3>
        {{todo}}
    <h3>Decription</h3>
        {{todo.description}}
    <h3>Priority</h3>
        {{todo.priority}}
    <h3>Complete</h3>
        {{todo.complete}}
    <h3>Created</h3>
        {{todo.created|date:'D M y H:i'}}
    <h3>Last updated</h3>
    {{todo.updated|date:'D M y H:i'}}
    <br>
    <a href="{% url 'index' %}">Back</a>

{% endblock content %}
    